* {
    margin: 0;
}

.register {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 35%;
    margin: auto;
    font-family: arial;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: white;

    .navigate {
        margin-left: 2%;
        color: blue;

        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }
    }
}

.popover-carts {
    .pop-cart-body {
        .pop-cart-content {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .book {
                display: flex;
                gap: 5px;
                width: 450px;

                img {
                    width: 50px;
                    height: 50px;
                }

                .detail {
                    width: 400px;

                    .price {
                        color: red;
                        margin-left: 10%;
                        width: 10%;
                    }

                    .mainText {
                        width: 60%;
                    }

                    .quantity {
                        margin-left: 10%;
                        width: 10%;
                    }
                }
            }

            .pop-cart-footer {
                margin-top: 10px;
                display: flex;
                justify-content: end;

                button {
                    float: right;
                    padding: 10px;
                    background-color: blue;
                    color: white;
                    border: none;
                    border-radius: 5px;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.6;
                    }
                }

            }
        }
    }
}